:root {
  /* https://coolors.co/2c6b72-2d3142-ef8354-f2dc5d-70ae6e-009ddc-6761a8 */
  --color-ming: #2c6b72;
  --color-space-cadet: #2d3142;
  --color-mandarin: #ef8354;
  --color-minion-yellow: #f2dc5d;
  --color-bud-green: #70ae6e;
  --color-carolina-blue: #009ddc;
  --color-dark-blue-gray: #6761a8;

  --color-heading: var(--color-ming);
  --color-background: white;
  --color-text: black;
  --color-faint: var(--color-ming);

  --font-family-header: theme("fontFamily.serif");
  --font-family-header-highlight:
    Zilla Slab Highlight, theme("fontFamily.serif");
  --font-family-body: theme("fontFamily.sans");
  --font-family-code: var(--slidev-code-font-family);
  /* --slidev-code-font-family */
}

.slidev-layout.invert {
  --un-invert: ;

  --color-heading: var(--color-mandarin);
  --color-text: white;
  --color-background: var(--color-ming);
  --color-faint: var(--color-mandarin);
}

.slidev-layout {
  background-color: var(--color-background);
  color: var(--color-text);

  &.invert {
    &.cover,
    &.intro {
      h1 + p {
        opacity: 0.9;
      }
    }
  }
}

.slidev-layout h1,
.slidev-layout h2,
.slidev-layout h3,
.slidev-layout h4,
.slidev-layout h5,
.slidev-layout h6 {
  color: var(--color-heading);
  font-family: var(--font-family-header);

  letter-spacing: unset;
  font-weight: 500;

  & strong,
  &:has(small) {
    color: var(--color-highlight-heading);
    font-family: var(--font-family-header-highlight);
    font-weight: 500;
  }

  & small {
    font-weight: normal;
    font-size: 0.95rem;
    display: block;
    color: var(--color-foreground);
    line-height: 0em;
    font-family: var(--font-family-body);
    font-weight: 500;

    position: relative;
    z-index: 1;
    margin-left: -0.5em;
  }
}

.slidev-layout {
  th {
    font-weight: bold;
  }

  .rough-annotation {
    mix-blend-mode: multiply;
  }

  img + .rough-annotation {
    mix-blend-mode: unset;
  }
}

footer {
  font-size: 0.75rem;
  color: var(--color-faint);
  /* For slides with backgrounds */
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.slidev-layout.icon-bullets {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  
  border: 1px solid black;

  ul {
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em; /* Adjust spacing between items */
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: flex-start;

      gap: 0.5em; /* Adjust spacing between items */
      width: 20%; /* Adjust width for alignment */

      .slidev-icon {
        color: var(--icon-color);
        font-size: 2.5em;
      }

      &:nth-child(6n + 1) {
        --icon-color: var(--color-ming);
      }
      &:nth-child(6n + 2) {
        --icon-color: var(--color-mandarin);
      }
      &:nth-child(6n + 3) {
        --icon-color: var(--color-bud-green);
      }
      &:nth-child(6n + 4) {
        --icon-color: var(--color-carolina-blue);
      }
      &:nth-child(6n + 5) {
        --icon-color: var(--color-dark-blue-gray);
      }
      &:nth-child(6n + 6) {
        --icon-color: var(--color-minion-yellow);
      }
    }
  }
}
